h1{
    font-size: 30px;
    font-family: "Cooper Black";
    text-align: center;
    color: #EDF2F4;
    background-image: url("/webdevelopment/Images/wp2647032.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-block: 20px;
    margin: 0px;
}

a{
    text-decoration-line: none;
}

nav{
    background-color: lightblue;
    font-family: Verdana;
    padding: 10px;
    font-weight: bold;
}

body{
    font-family: Verdana;
    background-color: azure;
    text-align: center;
}