.checklist{
    list-style-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b8/Checkbox_black_unchecked.png);
    list-style-position: inside;

}

.checked{
    list-style-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e2/Checkbox_black_checked.png);
    list-style-position: inside;
}