h2{
    font-size: 30px;
    font-family: "Cooper Black";
    text-align: center;
    color: #EDF2F4;
    background-image: url("/Semester 1/Labo 7/Images/wp2647032.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-block: 20px;
    margin: 0px;
}

section>section{
    padding: 20px;
    margin: 10px;
}

nav{
    background-color: lightblue;
    padding: 10px;
    font-weight: bold;
}

section>ul>li{
    list-style-image: url("/Semester 1/Labo 7/Images/icons8-cloud-32.png");
}

ul>li>ul>li{
    list-style-image: url("/Semester 1/Labo 7/Images/icons8-cloud-15.png");
    white-space: pre-line;
}

body{
    font-family: Verdana;
    background-color: azure;
}

a{
    text-decoration-line: none;
}