h1{
    font-size: 30px;
    font-family: "Cooper Black";
    text-align: center;
    color: #EDF2F4;
    background-image: url("/Semester 1/Labo 7/Images/wp2647032.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-block: 20px;
    margin: 0px;
}

nav{
    background-color: lightblue;
    font-family: Verdana;
    padding: 10px;
    font-weight: bold;
}

section>section{
    background-color: azure;
    padding: 20px;
    margin: 10px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

body{
    background-color: steelblue;
}

h2{
    font-family: "Cooper Black";
}

p{
    font-family: Verdana;
}

a{
    text-decoration-line: none;
}